{% extends 'base.html' %}

{% block content %}

<div class="bg"></div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">
        <a href="{{ url_for('show_user', user_id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <div class="message-heading">
            <a href="{{ url_for('show_user', user_id=message.user.id) }}">@{{ message.user.username }}</a>

            {% if g.user %}


            {% if g.user.id == message.user.id %}
            <form method="POST" action="{{ url_for('messages_destroy', message_id=message.id) }}">
              {{ g.delete_or_logout_form.csrf_token }}
              <button class="btn btn-outline-danger">Delete</button>
            </form>
            {% elif g.user.is_following(message.user) %}
            <form method="POST" action="{{ url_for('stop_following', follow_id=message.user_id) }}">
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('add_follow', follow_id=message.user_id) }}">
              <button class="btn btn-outline-primary btn-sm">Follow</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
          <p class="single-message text-break">{{ message.text }}</p>
          <div class="row">
            <div class="col-auto">
              <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            </div>
            <!-- likes -->
            <div class="col-auto mt-n2 ml-n4">

              {% if g.user.id != message.user.id %}
              {% if message.id in liked_message_ids %}
              <button class="btn btn-link row justify-content-end hide-btn-outline">
                <i class="fas fa-heart" data-msg-id="{{message.id}}"></i>
              </button>
              {% else %}
              <button class="btn btn-link row justify-content-end hide-btn-outline">
                <i class="far fa-heart" data-msg-id="{{message.id}}"></i>
              </button>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}